tensorflow-gpu==1.5
progressbar2
numpy
opencv-python
scikit-learn
scipy
matplotlib
Pillow
cleverhans
ipdb
pandas
pymongo
plotly
pprint
sacred
scikit-learn
scikit-image
sklearn-extras
tensorboardX
tqdm
visdom
pudb
configargparse
termcolor
pyserial
gast==0.2.2